{% extends "base.html" %}

{% block styles %}

<style>

    h2 {
        margin: 20px auto 5px ; 
        color: red;
        background-color: beige;
    }

    h3 {
        margin: 20px auto 5px ; 
        color: purple;
        background-color: beige;
    }
    em {
        color: red;
    }

    #blog {
        height: 200px;
        width: 400px;
    }

</style>

{% endblock styles %}

{% block content %}
<br/>
<h2>Add a Blog Entry</h2>

<form action='/newpost' method='post'>
    {% with messages = get_flashed_messages() %}
    <label>
    <p>Title for your new blog:</p>
    <input type='text' name='title' value='{{title}}' checked=checked autofocus=autofocus>
    <p><em>{{messages[0]}}</em></p>
    </label>

    <label>
    <p>Your new blog:</p>
    <textarea id=blog type='text' name='blog' placeholder="Once upon a time...">{{blog}}</textarea>
    <p><em>{{messages[1]}}</em></p>
    </label>
    
    <input type='submit' value='Add Entry'/>
    {% endwith %}
</form>

{% endblock content %}