{% extends "base.html" %}

{% block styles %}
<style>
.page {
    width: 800px;
    margin: auto auto auto auto;
}

.users{
    float: left;
    margin: auto 50px auto auto;
}
.logo {
    width: 300px;
    height: 300px;
    float: left;
}
img {
    width: 700px;
    height: 400px;
}

</style>

{% endblock styles %}

{% block content %}
<div class='page'>
{% with messages = get_flashed_messages()%}
<h4>{{messages[0]}}</h4>
{% endwith %}
<section class='users'>
<h2>Blog Users</h2>
{% for user in users %}
<ul>
    <li><a href='/blog?user={{user.username}}'>{{user.username}}</a></li>
</ul>
{% endfor %}
</section>
<section class='logo'>
<img src="/static/images/pexels_blog.jpeg" alt="blogging_image" title="The Amigos Blogz!!"/>
</section>
</div>
{% endblock content %}
