{% extends "base.html" %}

{% block style %}

<style>
h1 {
        margin: 20px auto 10px ; 
        color: red;
        width: 400px;
        background-color: beige;
    }
em {
    color: purple;
    display:inline-block;
}
</style>

{% endblock style %}

{% block content %}

<h1>Build a Blog</h1>

<div>
{% for blog in blogs %}
<a href='/blog?id={{blog.id}}'><h3>{{blog.title}}</h3></a>
<em><small>{{blog.pub_date}}</small></em>
<p>{{blog.blog}}</p>
<hr/>
{% endfor %}
</div>

{% endblock content %}
